/*Created by huang.jun on 18-2-1*/
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  opacity: .7;
}
button:active {
  opacity: .7;
}
ol,
ul,
li {
  list-style: none;
}
body {
  font-family: PingFang-SC-Regular, sans-serif;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  color: #000;
  background: #F1F1F1;
}
.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  background: #000;
  opacity: .7;
  top: 0;
  left: 0;
  display: none;
}
.img-box {
  font-size: 0;
}
.img-box img {
  width: 100%;
}
.ClearBox:after,
.ClearBox:before {
  content: " ";
  display: table;
  clear: both;
}
.TopBox {
  height: 2.5rem;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.TopBox .center {
  width: 5.1rem;
  position: absolute;
  left: 50%;
  margin-left: -2.55rem;
  top: .475rem;
}
.TopBox .right {
  width: 3.575rem;
  height: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
  color: #fff;
  font-size: .6rem;
  background: #ED5F18;
  float: right;
  margin: .575rem .7rem 0 0;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  border-radius: 1.3rem;
  position: relative;
}
.TopBox .txt-center {
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 2.5rem;
  font-size: .9rem;
  color: #666;
}
.img-change {
  font-size: 0;
  padding-top: 2.5rem;
}
.img-change img {
  width: 100%;
}
.img-change img {
  height: 18.25rem;
}
.service-content {
  height: 7rem;
  background: #fff;
  font-size: .7rem;
}
.service-content a {
  float: left;
  margin-top: 5.075rem;
  color: #000;
  position: relative;
}
.service-content a.service-icon1 {
  margin-left: 1.15rem;
}
.service-content a.service-icon1:after {
  width: 3.25rem;
  height: 3.25rem;
  background: url("../img/btn-icon1.png") no-repeat;
  background-size: 100% 100%;
  margin-left: -1.625rem;
}
.service-content a.service-icon2 {
  margin-left: 1.8rem;
}
.service-content a.service-icon2:after {
  width: 3.275rem;
  height: 3.25rem;
  background: url("../img/btn-icon2.png") no-repeat;
  background-size: 100% 100%;
  margin-left: -1.6375rem;
}
.service-content a.service-icon3 {
  margin-left: 1.2rem;
}
.service-content a.service-icon3:after {
  width: 3.275rem;
  height: 3.3rem;
  background: url("../img/btn-icon3.png") no-repeat;
  background-size: 100% 100%;
  margin-left: -1.6375rem;
}
.service-content a.service-icon4 {
  margin-left: .8rem;
}
.service-content a.service-icon4:after {
  width: 3.25rem;
  height: 3.475rem;
  background: url("../img/btn-icon4.png") no-repeat;
  background-size: 100% 100%;
  margin-left: -1.625rem;
}
.service-content a:after {
  content: "";
  position: absolute;
  top: -3.85rem;
  left: 50%;
}
.advantage-box {
  font-size: 0;
}
.advantage-box img {
  width: 100%;
}
.advantage-box h3 {
  height: 3.25rem;
  text-align: center;
  position: relative;
}
.advantage-box h3 img {
  width: 7.8rem;
  margin-top: 1.45rem;
}
.advantage-box .advantage-list {
  padding: 0 .45rem;
}
.advantage-box .advantage-list li {
  margin-top: .575rem;
  font-size: 0;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  overflow: hidden;
  position: relative;
}
.advantage-box .advantage-list li img {
  width: 100%;
}
.advantage-box .advantage-list li:nth-of-type(1) {
  margin-top: 0;
}
.advantage-box .advantage-list li p {
  left: 0;
  bottom: 0;
  position: absolute;
  height: 2.2rem;
  line-height: 2.2rem;
  color: #fff;
  text-align: center;
  font-size: .75rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.more {
  width: 2.35rem;
  height: .45rem;
  background: url("../img/more.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 1.075rem;
  top: 1.65rem;
}
.case-box h3 {
  height: 3.45rem;
  text-align: center;
  position: relative;
}
.case-box h3 img {
  width: 7.8rem;
  margin-top: 1.45rem;
}
.case-box .case-list {
  margin: 0 .45rem;
  background: #fff;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.case-box .case-list dt {
  font-size: 0;
}
.case-box .case-list dt img {
  width: 100%;
}
.case-box .case-list dd {
  padding-left: .9rem;
  font-size: .75rem;
  padding-bottom: .75rem;
}
.case-box .case-list dd p {
  line-height: .75rem;
  margin-top: .85rem;
  padding-left: .35rem;
  background: url("../img/d.png") no-repeat 0 0.325rem;
  background-size: .15rem .15rem;
}
.case-box .case-list dd p a {
  color: #333;
}
.case-box .case-list dd p.new a {
  position: relative;
}
.case-box .case-list dd p.new a:after {
  width: 1.425rem;
  height: .6rem;
  background: url("../img/new.png") no-repeat;
  background-size: 100% 100%;
  content: "";
  position: absolute;
  right: -1.5rem;
  top: .25rem;
}
.gallery-cell {
  width: 80%;
  counter-increment: carousel-cell;
}
.gallery-cell .new-expert {
  background: #fff;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  overflow: hidden;
  margin-left: .45rem;
}
.gallery-cell .new-expert dt {
  font-size: 0;
  position: relative;
}
.gallery-cell .new-expert dt img {
  width: 100%;
}
.gallery-cell .new-expert dt span {
  left: 0;
  bottom: 0;
  position: absolute;
  font-size: .65rem;
  color: #fff;
  padding: 0 .4rem;
  background: #ED5E18;
  line-height: 1.2rem;
  letter-spacing: .05rem;
}
.gallery-cell .new-expert dd {
  padding: .65rem;
  color: #333;
}
.gallery-cell .new-expert dd h4 {
  font-size: .8rem;
  line-height: .8rem;
  margin-bottom: .3rem;
}
.gallery-cell .new-expert dd p {
  line-height: 1rem;
  font-size: .6rem;
}
.gallery-cell .new-expert dd p:nth-of-type(3),.gallery-cell .new-expert dd p:nth-of-type(1){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.gallery-cell .new-expert dd p:nth-of-type(2){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.expert-box {
  overflow: hidden;
  position: relative;
}
.expert-box .gallery-cell {
  height: 19rem;
}
.expert-box .flickity-slider {
  height: 19rem;
}
.hospital-box {
  overflow: hidden;
}
.hospital-box .gallery-cell {
  height: 16.6rem;
}
.hospital-box .flickity-slider {
  height: 16.6rem;
}
.flickity-slider .gallery-cell:nth-last-child(1):after {
  content: "";
  width: 3.375rem;
  height: 5rem;
  background: url("../img/lookmore.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: -4rem;
  top: 50%;
  margin-top: -2.5rem;
}
.expert-box h3 {
  height: 3.45rem;
  text-align: center;
  position: relative;
}
.expert-box h3 img {
  width: 7.8rem;
  margin-top: 1.45rem;
}
.expert-box .expert-scroll:after,
.expert-box .expert-scroll:before {
  content: " ";
  display: table;
  clear: both;
}
.hospital-box h3 {
  height: 3.45rem;
  text-align: center;
  position: relative;
}
.hospital-box h3 img {
  width: 7.8rem;
  margin-top: 1.45rem;
}
.hospital-box .expert-scroll:after,
.hospital-box .expert-scroll:before {
  content: " ";
  display: table;
  clear: both;
}
.expert-list {
  width: 15.85rem;
  background: #fff;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.expert-list dt {
  font-size: 0;
  position: relative;
}
.expert-list dt img {
  width: 100%;
}
.expert-list dt span {
  left: 0;
  bottom: 0;
  position: absolute;
  font-size: .65rem;
  color: #fff;
  padding: 0 .4rem;
  background: #ED5E18;
  line-height: 1.2rem;
  letter-spacing: .05rem;
}
.expert-list dd {
  padding: .65rem;
  color: #333;
}
.expert-list dd h4 {
  font-size: .8rem;
  line-height: .8rem;
  margin-bottom: .3rem;
}
.expert-list dd p {
  line-height: 1rem;
  font-size: .6rem;
}
.white-box {
  background: #fff;
  margin-top: .625rem;
}
.process dt {
  line-height: 2.5rem;
  font-size: .9rem;
  text-align: center;
  font-weight: bold;
}
.process dd {
  font-size: 0;
}
.process dd img {
  width: 100%;
}
.CP h4 {
  line-height: 2.5rem;
  font-size: .9rem;
  text-align: center;
  font-weight: bold;
}
.CP .CpList:after,
.CP .CpList:before {
  content: " ";
  display: table;
  clear: both;
}
.CP .CpList li {
  float: left;
  width:50%;
  text-align:center;
}
.CP .CpList li img {
  height: 2.75rem;
  width: auto;
}
.information-title {
  line-height: 2.5rem;
  font-size: .9rem;
  text-align: center;
  font-weight: bold;
  position: relative;
}
.information-title .all {
  right: .475rem;
  top: 1.1rem;
  position: absolute;
  width: 2.15rem;
  height: .575rem;
  background: url("../img/all.png") no-repeat;
  background-size: 100% 100%;
}
.information-list {
  padding: 0 .875rem;
}
.information-list dt {
  font-size: 0;
}
.information-list dt img {
  width: 100%;
}
.information-list dd {
  font-size: .75rem;
  padding-bottom: .75rem;
}
.information-list dd p {
  line-height: .75rem;
  margin-top: .85rem;
  padding-left: .35rem;
  background: url("../img/d.png") no-repeat 0 0.325rem;
  background-size: .15rem .15rem;
}
.information-list dd p a {
  color: #333;
}
.information-list dd p.new a {
  position: relative;
}
.information-list dd p.new a:after {
  width: 1.425rem;
  height: .6rem;
  background: url("../img/new.png") no-repeat;
  background-size: 100% 100%;
  content: "";
  position: absolute;
  right: -1.8rem;
  top: .25rem;
}
.message-title {
  line-height: 2.5rem;
  font-size: .9rem;
  text-align: center;
  font-weight: bold;
}
.message-input {
  padding: 0 1rem;
}
.message-input dd {
  line-height: 2.25rem;
  margin-bottom: .5rem;
}
.message-input dd:after,
.message-input dd:before {
  content: " ";
  display: table;
  clear: both;
}
.message-input dd span {
  float: left;
  font-size: .7rem;
  color: #333;
  width: 23%;
  text-align: right;
  padding-right: .8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.message-input dd input {
  float: left;
  height: 2.2rem;
  border: 1px solid #D2D2D2;
  width: 75%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: .5rem;
  font-size: .7rem;
  -webkit-appearance: none;
  border-radius: 0 !important;
}
.message-input dd textarea {
  -webkit-appearance: none;
  float: left;
  height: 5.05rem;
  border: 1px solid #D2D2D2;
  width: 75%;
  border-radius: 0 !important;
}
.message-input dt a {
  display: block;
  width: 6.6rem;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  color: #fff;
  background: #6EBD00;
  margin-left: 23%;
  font-size: .75rem;
}
.bottom-box {
  background: #293036;
  border-top: 1.1rem solid #fff;
}
.bottom-box:after,
.bottom-box:before {
  content: " ";
  display: table;
  clear: both;
}
.bottom-box .ewm {
  padding-top: 3.7rem;
}
.bottom-box .ewm li {
  width: 50%;
  text-align: center;
  float: left;
  font-size: .5rem;
  color: #fff;
}
.bottom-box .ewm li span {
  position: relative;
}
.bottom-box .ewm li span img {
  width: 2.35rem;
  height: 2.35rem;
  position: absolute;
  left: 50%;
  margin-left: -1.175rem;
  top: -2.8rem;
}
.address {
  color: #D6D6D6;
  font-size: .6rem;
  padding: 0 1rem;
  line-height: 1rem;
  margin-top: 1.2rem;
}
.address dd {
  margin-bottom: .8rem;
}
.bottom-txt {
  color: #6B6E73;
  text-align: center;
  font-size: .6rem;
  line-height: 1rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
/* Default navigation icon */
.nav__trigger {
  display: block;
  position: absolute;
  width: .875rem;
  height: .9rem;
  left: .575rem;
  top: .2rem;
  z-index: 200;
}
.nav--active .nav__trigger {
  opacity: 0.5;
  position: fixed;
}
.nav__icon {
  display: inline-block;
  position: relative;
  width: .875rem;
  height: .1rem;
  background-color: #333;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.nav__icon:before,
.nav__icon:after {
  content: '';
  display: block;
  width: .875rem;
  height: .1rem;
  position: absolute;
  background: #333;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  transition-property: margin, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.nav__icon:before {
  margin-top: -0.25rem;
}
.nav__icon:after {
  margin-top: .25rem;
}
/**
*/
.nav {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
}
.nav__link {
  opacity: 0;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}
.nav--active .nav__link {
  opacity: 1;
}
.nav--active .nav {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.nav--active .nav__icon {
  background: rgba(0, 0, 0, 0);
}
.nav--active .nav__icon:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav--active .nav__icon:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/**
* Navigation Defaults
*/
.nav {
  position: fixed;
  z-index: 100;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.nav--active .nav {
  opacity: 1;
  background-color: #fff;
}
.nav__list {
  margin: 0;
  padding: 10px;
}
.nav__item {
  list-style-type: none;
  text-align: center;
  margin-top: 1rem;
  position: relative;
}
.nav__item:after {
  width: 3.6rem;
  height: 1px;
  background: #C3C3C3;
  content: "";
  left: 50%;
  margin-left: -1.8rem;
  position: absolute;
  bottom: -0.1rem;
}
.nav__ContactUs {
  text-align: center;
  margin-top: 1rem;
}
.nav__ContactUs a {
  display: block;
  width: 8rem;
  height: 2.7rem;
  text-align: center;
  margin: 0 auto;
  line-height: 2.7rem;
  background: #ED5F18;
  color: #fff;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  border-radius: 2.5rem;
  font-size: 1rem;
}
.nav__link {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #eb5f28;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.NavRegion {
  position: absolute;
  bottom: -2.45rem;
  left: 0;
  height: 2.45rem;
  line-height: 2.45rem;
  font-size: .75rem;
  background: #fff;
  border-top: 1px solid #F1F1F1;
  width: 100%;
  text-align: center;
}
.NavRegion span {
  margin: 0 .75rem;
  color: #333;
  font-weight: bold;
  line-height: .75rem;
}
.NavRegion span.on {
  color: #6FBD00;
  position: relative;
}
.NavRegion span.on:after {
  left: 0;
  bottom: -0.7rem;
  position: absolute;
  width: 100%;
  background: #6FBD00;
  height: .175rem;
  content: "";
}
.NavAddress {
  position: absolute;
  bottom: -4.9rem;
  left: 0;
  height: 2.45rem;
  font-size: .75rem;
  background: #F8F8F8;
  width: 100%;
}
.NavAddress span {
  float: left;
  height: 2.45rem;
  line-height: 2.45rem;
  padding: 0 .5rem;
}
.NavAddress span.on {
  background: #fff;
}
.ListWrap {
  padding: 7.5rem 1.4rem 2rem 1.4rem;
}
.ListWrap .List {
  margin-top: 1rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  border-radius: 0.35rem;
  overflow: hidden;
}
.ListWrap .List .img-box {
  position: relative;
}
.ListWrap .List .img-box span {
  left: 0;
  bottom: 0;
  position: absolute;
  font-size: .65rem;
  width: 4.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
}
.ListWrap .List .img-box span.colour1 {
  background: #ED5F18;
}
.ListWrap .List .img-box span.colour2 {
  background: #F39800;
}
.ListWrap .List .img-box span.colour3 {
  background: #F29A75;
}
.ListWrap .List .img-box span.colour4 {
  background: #8F82BC;
}
.ListWrap .List .img-box span.colour5 {
  background: #C490BF;
}
.ListWrap .List .img-box span.colour6 {
  background: #88ABDA;
}
.ListWrap .List .img-box span.colour7 {
  background: #556FB5;
}
.ListWrap .List .img-box span.colour8 {
  background: #8958A1;
}
.ListWrap .List dl {
  background: #fff;
  padding: .65rem;
}
.ListWrap .List dl dt {
  font-size: .8rem;
  line-height: .8rem;
}
.ListWrap .List dl dd {
  margin-top: .5rem;
}
.ListWrap .List dl dd p {
  font-size: .6rem;
  line-height: .9rem;
}
.DetailsWrap {
  padding-top: 2.5rem;
}
.DetailsWrap dl {
  background: #fff;
  padding: 1.4rem;
  color: #333;
}
.DetailsWrap dl dt {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.DetailsWrap dl dd {
  padding-top: .8rem;
}
.DetailsWrap dl dd p {
  font-size: .7rem;
  line-height: 1.1rem;
}
.DetailsWrap dl dd p:last-child {
  padding-top: 1rem;
}
/*********2018.5.5********/
/******案例列表*****/
.anli{padding:3rem .45rem 2.5rem .45rem;}
.anli dl{
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  border-radius: 0.35rem;
  overflow: hidden;
}
.anli dl dt{font-size:0;}
.anli dl dt img{width:100%;}
.anli dl dd{background:#fff;padding-left:.925rem;padding-bottom:1.3rem;}
.anli dl dd p{font-size:.75rem;line-height:.75rem;padding-top:.75rem;padding-left:.5rem;position: relative;}
.anli dl dd p:after{content:"";position:absolute;width:.15rem;height:.15rem;background:#94979a;left:0;top:1.1rem;-webkit-border-radius: 1rem;-moz-border-radius:1rem;border-radius:1rem;}
.anli dl dd p a{color:#333;position:relative;}
.anli dl dd p .new:after{width:1.425rem;height:.6rem;content:"";position: absolute;background:url("../img/new.png") no-repeat;background-size:100% 100%;right:-1.6rem;top:.25rem;}
/*****案例详情*****/
.detailed{padding-top:2.5rem;}
.detailed-title{font-size:0;}
.detailed-title img{width:100%;}
.detailed dl{background:#fff;padding:0 1.375rem;}
.detailed dl dt{font-size:1.2rem;color:#333;line-height:1.5rem;padding-top:1.6rem;}
.detailed dl dd{font-size:.7rem;color:#333;padding-bottom:3.4rem;}
.detailed dl dd p{line-height:1.1rem;margin-top:1.4rem;}
/*****优势详情******/
.youshi-wrap{background:#fff;}
.youshi-wrap img{margin-top:2rem;width:100%;}
.youshi-wrap p{padding:0 1rem;font-size:.7rem;color:#333;line-height:1.1rem;}
/*****项目详情*****/
.shengyu-wrap{background:#fff;}
.shengyu-top-img{font-size:0;padding-top:2.5rem;}
.shengyu-top-img img{width:100%;}
.jsTab_title{height:2.8rem;background:#f8f8f8;}
.jsTab_title li{float:left;width:33%;font-size:1rem;color:#333;padding-top:.8rem;text-align:center;}
.jsTab_title li span{line-height:1rem;padding:0 .5rem;}
.jsTab_title li.on span{color:#5f9d04;position: relative;}
.jsTab_title li.on span:after{position: absolute;content:"";width:100%;height:.25rem;background:#70bd00;bottom:-.5rem;left:50%;margin-left:-50%;}
.jsTab_con .qa{font-size:.75rem;padding:0 1.35rem;}
.jsTab_con .qa dt{margin-top:1.85rem;}
.jsTab_con .qa dd{line-height:1.2rem;}
.jsTab_con .qa dd p span{color:#5f9d04;white-space:nowrap;}














